.grid-container {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 0.25fr 1.5fr;
    padding: 40px 220px 20px 220px;
  }

.image-left{
  grid-auto-flow: column;
  direction: rtl;
}

@media screen and (max-width: 1000px){
    .grid-container{
      display: grid;
      column-gap: 32px;
      grid-template-columns: unset;
      padding: 40px 5% 20px 5%;
      text-align: center;
      justify-items: center;
    }
}

@media screen and (max-width: 1000px){
  .image-left{
    grid-auto-flow: unset;
    direction: unset;
  }
}

.name{
  font-size: 16px;
}

.position{
  display: flex;
}

@media screen and (max-width: 1000px){
  .position{
    display: unset;
  }
}


.spacebar{
  padding-bottom: 12px;
}

@media screen and (max-width: 1000px){
  .spacebar{
    padding-top: 12px;
  }
}

.company-description{
  width: 45%;
  text-align: center;
}

@media screen and (max-width: 720px){
  .company-description{
    width: 100%;
    text-align: center;
  }
}

.description{
  row-gap: 20px;
}

  






  