.price-layout {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 30px;
}

.price-component {
	border: 1px solid black;
	border-radius: 5px;
	padding: 24px 40px;
	box-sizing: border-box;
	transition: all 0.6s ease;
}

fieldset {
	border-radius: 5px;
	padding: 24px 40px 30px 40px;
	box-sizing: border-box;
	margin-top: 50px;
}

[id-add-btn] {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	margin-bottom: 24px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color: transparent;
	transition: all 0.6s ease;
}

.price-component:hover {
	box-shadow: 0 0 10px 3px #00000022;
}

[id-add-btn]:hover {
	box-shadow: 0 0 10px 3px #00000022;
}

@media screen and (max-width: 720px){
	.price-layout {
		display: grid;
		width: 100%;
		grid-template-columns: none;
		gap: 30px;
	}
}