.charts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	gap: 30px;
	text-align: center;
	width: 100%;
}

.charts-card {
	display: block;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 0 0 5px 1px rgba(var(--rgb-black), 0.15);
	transition: all 0.6s ease;
}

.chartBox {
	display: block;
	position: relative;
	height: 50vh;
	margin: auto 0;
}
