.grid-layout {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 30px;
	width: 100%;
	height: 100%;
	margin: 30px 0 0 0;
}

@media screen and (max-width: 720px) {
	.grid-layout {
		grid-template-columns: auto;
		grid-template-rows: 0.5fr 1fr;
	}
}

.grid-layout-content-1,
.grid-layout-content-2 {
	width: 100%;
	height: 100%;
}

.grid-layout-content-2 {
	padding: 0 10px;
	box-sizing: border-box;
}

/*######################################*
||           Left Container           ||
*######################################*/

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	cursor: pointer;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	background-color: transparent;
	box-shadow: 0 0 2px 2px rgba(var(--rgb-black), 0.2);
	transition: all 0.6s ease;
	font-family: var(--font-second);
	font-size: var(--font-seize);
}

button:hover {
	box-shadow: 0 0 2px 2px rgba(var(--rgb-black), 0.5);
}

/*######################################*
||          Right Container           ||
*######################################*/
.grid-layout-content-1 > h1,
.grid-layout-content-2 > h1 {
	margin-bottom: 30px;
}

#plan-table {
	width: 100%;
	text-align: left;
}

table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

th,
td {
	padding: 6px;
	border: 1px solid rgba(var(--rgb-black), 0.2);
}

#plan-row {
	transition: all 0.3s ease;
}

#plan-row:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(var(--rgb-black), 0.3);
}

/*######################################*
||     Popup Reactivate Container     ||
*######################################*/

#popup-reactivate-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background-image: linear-gradient(210deg, rgba(var(--rgb-white), 0.8), rgba(var(--rgb-c3), 0.5));
	background-repeat: no-repeat;
	background-attachment: fixed;
	backdrop-filter: blur(5px);
	border-radius: 15px;
}

#popup-reactivate-container > h1 {
	margin-bottom: 30px;
}

#popup-reactivate-container > p {
	margin-bottom: 10px;
}

#popup-reactivate-btn-container {
	display: flex;
	flex-direction: row;
}

#popup-reactivate-btn-container > button {
	margin: 0 15px;
}
