@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

@import url(/css/colour-palette.css);
@import url(/css/nav.css);

:root {
	/* Hong Yang */
	/* #31708E #88BDBC #EEE2DC #B1A296 */

	--color-black: black;
	--color-white: #ffffff;
	--color-c1: #31708e;
	--color-c2: #88bdbc;
	--color-c3: #eee2dc;
	--color-c4: #b1a296;

	--font-primary: "Syncopate", sans-serif;
	--font-second: "Quicksand", sans-serif;

	--font-size-title: 35px;
	--font-size-h1: 18px;
	--font-size-normal: 15px;
	--font-size-small: 10px;

	scroll-behavior: smooth;
	font-family: var(--font-primary);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-c3);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-c1);
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-c1);
}

html,
body {
	height: 100%;
	background-image: linear-gradient(210deg, var(--color-white), var(--color-c3));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	font-weight: 100;
	color: var(--color-current);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
main,
menu,
nav,
section,
summary,
video {
	display: block;
}

t-body-2,
a,
b,
h1,
h2,
h3,
h4,
h5,
strong {
	font-weight: 600;
}

.font-primary {
	font-family: var(--font-primary);
}

.font-second {
	font-family: var(--font-second);
}

.font-w-300 {
	font-weight: 300;
}

.font-w-400 {
	font-weight: 400;
}

.font-w-500 {
	font-weight: 500;
}

.font-w-600 {
	font-weight: 600;
}

.font-w-700 {
	font-weight: 700;
}

.black {
	--color-current: var(--color-black);
}

.white {
	--color-current: var(--color-white);
}

.c1 {
	--color-current: var(--color-c1);
}

.c2 {
	--color-current: var(--color-c2);
}

.c3 {
	--color-current: var(--color-c3);
}

.c4 {
	--color-current: var(--color-c4);
}

.transBG {
	background-color: transparent;
}

/* Font Style */

.text-title {
	font-size: var(--font-size-title);
	margin: 0;
}

.text-h1 {
	font-size: var(--font-size-h1);
	margin: 0;
}

.text-normal {
	font-size: var(--font-size-normal);
	margin: 0;
}

.text-small {
	font-size: var(--font-size-small);
	margin: 0;
}

.bold {
	font-weight: bold;
}

/* Panel */

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row.between {
	justify-content: space-between;
}

.flex-row.around {
	justify-content: space-around;
}

.top {
	margin-top: 0;
}

.middle {
	display: flex;
	justify-content: center;
}

.center {
	display: flex;
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

/* Loading Screen */

#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 9999;
	background-image: linear-gradient(210deg, var(--color-white), var(--color-c3));
	background-repeat: no-repeat;
	background-attachment: fixed;

	opacity: 1;
	transition: opacity 1s ease;
}

#loader > iframe {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 0;
}

/* others */

.header-container {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box; /*prevent overflow caused by padding*/
	padding: 80px 80px;
	justify-content: space-around;
}

.header-left {
	width: 40%;
}

.header-left > h1 {
	margin-bottom: 24px;
}

.header-left > p {
	text-align: justify;
}

#image-1 {
	height: 450px;
	width: 450px;
}

footer {
	padding: 20px 40px;
	box-sizing: border-box;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

section {
	width: 100%;
	background-color: var(--color-c1);
}

#image-2 {
	width: 100%;
	height: auto;
	aspect-ratio: 3.6;
}
