* {
	/* Hong Yang */
	--color-black: black;
	--color-white: #ffffff;
	--color-gray: #e1e1e1;
	--color-orange: #ff6000;
	--color-paleOrange: #ffa559;
	--color-peach: #ffe6c7;

	/* Teck Yung */
	/* --color-black: #31708e;
	--color-white: #88bdbc;
	--color-orange: #eee2dc;
	--color-peach: #b1a296; */

	font-family: Georgia, "Times New Roman", Times, serif;
	color: var(--color-black);

	--font-size-title: 45px;
	--font-size-h1: 18px;
	--font-size-normal: 20px;

	letter-spacing: 1px;
	scroll-behavior: smooth;
}

html,
body {
	/* min-height: 100dvh; //dynamic view height */
	padding: 0;
	margin: 0;
	background-color: var(--color-white);
}

.black {
	--color-current: var(--color-black);
}

.white {
	--color-current: var(--color-white);
}

.gray {
	--color-current: var(--color-gray);
}

.orange {
	--color-current: var(--color-orange);
}

.paleOrange {
	--color-current: var(--color-paleOrange);
}

.peach {
	--color-current: var(--color-peach);
}

/* Font Style */

.text-title {
	font-size: var(--font-size-title);
}

.text-h1 {
	font-size: var(--font-size-h1);
}

.text-normal {
	font-size: var(--font-size-normal);
}

.bold {
	font-weight: bold;
}

/* Panel */

.zero-margin {
	margin: 0;
}

.zero-padding {
	padding: 0;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.container-main {
	display: block;
	height: auto;
	width: 100%;
	min-width: 100%;
	background-color: var(--color-current);
}

.container-content {
}

.centre {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: var(--color-current);
}
