@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

@import url(/css/colour-palette.css);
@import url(/css/nav.css);

:root {
	/* Hong Yang */
	/* #31708E #88BDBC #EEE2DC #B1A296 */

	--color-black: black;
	--color-white: #ffffff;
	--color-c1: #31708e;
	--color-c2: #88bdbc;
	--color-c3: #eee2dc;
	--color-c4: #b1a296;

	--font-primary: "Syncopate", sans-serif;
	--font-second: "Quicksand", sans-serif;

	--font-size-title: 35px;
	--font-size-h1: 18px;
	--font-size-normal: 15px;
	--font-size-small: 10px;

	scroll-behavior: smooth;
	font-family: var(--font-primary);
}

html,
body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(222deg, var(--color-white), var(--color-c2));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.font-primary {
	font-family: var(--font-primary);
}

.font-second {
	font-family: var(--font-second);
}

.font-w-300 {
	font-weight: 300;
}

.font-w-400 {
	font-weight: 400;
}

.font-w-500 {
	font-weight: 500;
}

.font-w-600 {
	font-weight: 600;
}

.font-w-700 {
	font-weight: 700;
}

.black {
	--color-current: var(--color-black);
}

.white {
	--color-current: var(--color-white);
}

.c1 {
	--color-current: var(--color-c1);
}

.c2 {
	--color-current: var(--color-c2);
}

.c3 {
	--color-current: var(--color-c3);
}

.c4 {
	--color-current: var(--color-c4);
}

.transBG {
	background-color: transparent;
}

/* Font Style */

.text-title {
	font-size: var(--font-size-title);
	margin: 0;
}

.text-h1 {
	font-size: var(--font-size-h1);
	margin: 0;
}

.text-normal {
	font-size: var(--font-size-normal);
	margin: 0;
}

.text-small {
	font-size: var(--font-size-small);
	margin: 0;
}

.bold {
	font-weight: bold;
}

/* Panel */

.zero-margin {
	margin: 0;
}

.zero-padding {
	padding: 0;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.top {
	margin-top: 0;
}

.middle {
	margin-top: auto;
	margin-bottom: auto;
}

.container-main {
	display: block;
	height: auto;
	width: 100%;
	min-width: 100%;
	background-color: var(--color-current);
}

.centre {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: var(--color-current);
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* Loading Screen */

#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: linear-gradient(222deg, var(--color-white), var(--color-c2));
	opacity: 1;
	transition: opacity 1s ease;
}

#loader > iframe {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 0;
}

#signup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
	width: fit-content;
	align-items: center;
	border: 1px solid var(--color-black);
	border-radius: 15px;
	padding: 15px;
	margin: 0 auto;
}

#signup > p {
	margin-bottom: 25px;
}

#testing1 {
	font-size: 100px;
}
