#logout-btn {
	width: fit-content;
	padding: 12px 18px;
	border-radius: 5px;
	border: none;
	background-color: var(--color-c1);
	color: var(--color-white);
	transition: all 0.6s ease;
}

#logout-btn:hover {
	background-color: var(--color-c2);
	color: var(--color-black);
	scale: 1.02;
	box-shadow: 0 0 10px 3px #00000022;
}

.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 2.8fr;
	column-gap: 40px;
}

@media (max-width: 900px) {
	.grid-container {
		grid-template-columns: 1.5fr 2fr;
	}
}

@media (max-width: 700px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}

/* Left container */

.left-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 10px 2px rgba(var(--rgb-black), 3%);
	padding: 24px;
	box-sizing: border-box;
	border-radius: 15px;
}

form {
	margin: 24px 0;
}

form > label {
	display: block;
	font-family: var(--font-second);
	font-size: var(--font-size-normal);
	margin-top: 15px;
}

form > label::after {
	content: ": ";
}

form > input {
	display: inline-block;
	background-color: transparent;
	font-family: var(--font-second);
	font-size: var(--font-size-h1);
	color: black;
	font-weight: 600;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}

input[type="text"],
input[type="email"] {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #00000022;
}

form > input:focus {
	background-color: var(--color-c3);
	outline: none;
}

/* Right Container */
.right-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%; /*TODO: change in @media*/
	box-shadow: 0 0 10px 2px rgba(var(--rgb-black), 3%);
	padding: 24px;
	box-sizing: border-box;
	border-radius: 15px;
	position: relative; /*for plan detail*/
	overflow: auto;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 24px;
	box-sizing: border-box;
}

.filter-content {
	display: flex;
	flex-direction: row;
	width: 30%;
	justify-content: space-between;
	/* border: 1px solid rgba(var(--rgb-black), 10%); */
	/* border-radius: 5px; */
	align-items: center;
}

.filter-content > button {
	width: fit-content;
	font-size: var(--font-size-normal);
	border: none;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	background-color: rgba(var(--rgb-c1), 0.15);
	transition: all 0.6s ease;
}

.filter-content > button:hover,
.filter-content > button:focus {
	background-color: rgba(var(--rgb-c1), 0.6);
}

table {
	width: 100%;
	text-align: left;
	border-radius: 15px;
	border-collapse: collapse;
}

th,
td {
	padding: 6px;
	border: 1px solid rgba(var(--rgb-black), 0.2);
}

#plan-row {
	transition: all 0.3s ease;
}

#plan-row:hover {
	cursor: pointer;
	box-shadow: 0 0 5px 1px rgba(var(--rgb-black), 0.3);
}

/*######################################*
||         Show Popup Detail          ||
*######################################*/

#popup-details {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;

	background-image: linear-gradient(210deg, var(--color-white), var(--color-c3));
	background-repeat: no-repeat;
	background-attachment: fixed;

	border-radius: 15px;
	box-shadow: 0 0 5px 1px rgba(var(--rgb-black), 0.1);

	padding: 24px;
	box-sizing: border-box;
}

#popup-details > h1 {
	font-size: var(--font-size-h1);
	color: var(--color-c1);
}

#popup-content-1 {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 4fr;
	margin: 30px 0;
	line-height: 30px;
}

#popup-content-1-header > p {
	line-height: inherit;
	font-weight: 600;
}

#popup-content-1-value > p {
	line-height: inherit;
}

#popup-content-2 {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	margin: 30px 0;
}

#popup-content-2 > div > p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*######################################*
||             Esc Button             ||
*######################################*/

#escBtn {
	position: absolute;
	top: 3%;
	right: 3%;
	padding: 6px 10px;
	border-radius: 5px;
	border: 1px solid rgba(var(--rgb-black), 10%);
	background-color: transparent;
	transition: all 0.6s ease;
}

#escBtn:hover {
	border: 1px solid rgba(var(--rgb-black), 40%);
}

/*######################################*
||       Suspend/Cancel Button        ||
*######################################*/

[id^="popup-btn-"] {
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	font-family: var(--font-second);
	font-size: var(--font-size-normal);
	transition: all 0.6s ease;
}

[id^="popup-btn-"]:hover {
	box-shadow: 0 0 2px 1px rgba(var(--rgb-black), 0.2);
}

#popup-btn-cancel {
	background-color: rgba(var(--rgb-red), 0.2);
	margin-right: 5px;
}

#popup-btn-suspend {
	background-color: rgba(255, 165, 0, 0.2);
}

#popup-btn-reactivate {
	background-color: rgba(173, 234, 67, 0.2);
}
