.nav-bar {
	height: auto;
	width: 100%;
	background: var(--color-current);
	justify-content: space;
}

.nav-bar > button {
	color: var(--color-current);
	background-color: transparent;
	border: 0;
	height: 50px;
	width: 100px;
	transition: 1.3s;
}

.nav-bar > button:hover {
	cursor: pointer;
	background-color: var(--color-orange);
}
