#nav-bar {
	position: fixed;
	padding: 18px 40px;
	box-sizing: border-box;
	background-image: linear-gradient(30deg, var(--color-c3), var(--color-white));
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 99;
}

.logo {
	width: 50px;
	height: auto;
	height: fit-content;
	margin-right: 10px;
}

#nav-bar > div > a {
	color: var(--color-c1);
	font-size: var(--font-size-normal);
	padding: 15px;
	letter-spacing: 1.5px;
}

.nav-toggle {
	display: none;
}

.open {
	height: 100vh !important;
	overflow: visible !important;
	display: flex !important;
	width: 100%;
	/* padding-left: 15%; */
	align-items: flex-start !important;
	transition: 100ms height ease-in-out;
}



@media screen and (max-width: 720px){

	#home{
		font-size: larger;
		justify-content: space-between;
	}
	
	.logo {
		width: 30px;
		height: auto;
		height: fit-content;
		margin-right: none;
	}

	#nav-bar{
		flex-direction: column;
		width: 100%;
	}

	#nav-bar {
		position: fixed;	
		padding: 18px 25% 20px 40px;
		box-sizing: border-box;
		background-image: linear-gradient(30deg, var(--color-c3), var(--color-white));
		background-repeat: no-repeat;
		background-attachment: fixed;
		z-index: 99;
		width: 100%;
	}

	#nav-bar2{
		display: none;
		flex-direction: column;
		align-items: center;
		padding-top: 1rem;
		height: 0;
		overflow: hidden;
	}

	.nav-toggle{
		display: block;
		width: 30px;
		height: auto;
		height: fit-content;
		margin-left: 10px;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	#mobile-nav{
		width: 100%;
	}

	.hidden{
		display: none;
	}

	/* #nav-bar > div > a {
		display:none;
	}*/

	#nav-price{
		padding-left: 0% !important;
		padding: 12.5px ;
	}
	
	/*
	#dropdown{
		display:none;
	}

	#dropdown-content{
		display:none;
	} */

}


#nav-bar > div > a:hover {
	cursor: pointer;
	opacity: 0.5;
}

/* dropdown menu */

.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 0 15px;
	letter-spacing: 1.5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 1;
	background-color: var(--color-white);
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 720px){
	.dropdown-content {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 1;
		background-color: var(--color-white);
		min-width: 220px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}
}


.dropdown-content a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 12px 15px;
	box-sizing: border-box;
	font-family: var(--font-second);
	font-size: var(--font-size-normal);
	color: var(--color-c1);
	font-weight: 600;
	transition: all 0.6s ease;
}

.dropdown-content a:hover {
	background-color: #ededed;
}

.dropdown .dropdown-content {
	transition: all 0.6s ease;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.rotate-180 {
	width: 24px;
	height: 24px;
	transition: all 0.6s ease;
}

.dropdown:hover .rotate-180 {
	rotate: 180deg;
}
