.info-card {
	height: auto;
	width: auto;
	margin: 15px 0;
}

.info-card > p {
	margin: 10px 0;
}

.info-card > h4 {
	font-size: var(--font-size-h1);
	margin: 10px 0;
}

h1 {
	margin: 20px 0;
}

#back {
	display: block;
	box-shadow: 0 0 10px 2px #00000010;
	padding: 12px 40px;
	border-radius: 5px;
	transition: all 0.6s ease;
}

#back:hover {
	box-shadow: 0 0 10px 2px #00000030;
}
