# Disable directory browsing

Options -Indexes

# Redirect to custom error pages

ErrorDocument 404 /Error/404.php
ErrorDocument 403 /Error/403.php
ErrorDocument 503 /Error/503.php

# Route all other requests to index.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php/$1 [L]
